
body {
    display: grid;
    grid-template-areas:
        "head"
        "content";
    grid-template-rows: auto 1fr;
    margin: 0;
    padding: 0;
}

header {
    grid-area: head;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .5rem 1rem;
    background-color: cadetblue;
}

main {
    grid-area: content;
    overflow: auto;
    padding: 1rem 2rem;
    cursor: grab;
}

main:active {
    cursor: grabbing;
    user-select: none;
}


.button {
    min-height: 2rem;
}




.tree {
    transform-origin: left top;
}

.trunk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 1rem;
    border-top: 1px solid;
}

.trunk::before {
    content: '';
    height: 1rem;
    border-left: 1px solid;
}

.trunk:last-child {
    border-top: none;
}

.tree > .trunk::before {
    display: none;
}

.relation_groups {
    display: none;
}

.person:has(.button__toggle_trunk:checked) ~ .relation_groups {
    display: flex;
}

.relation_group {
    padding-right: 1rem;
    border-top: 1px solid;
}

.relation_group:last-child {
    border-top: none;
}

.partner {
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding-block: .5rem;
    border-left: 1px solid;
}

.partner::before {
    content: '';
    width: 1rem;
    border-top: 1px dashed grey;
}

.children {
    display: flex;
    flex-direction: row;
}


.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    margin-inline: .5rem;
    border: none;
    border-radius: .5rem;
    translate: -1.5rem;
    transition: scale .1s;
}

.person:hover {
    scale: 1.1;
}

.person__image_wrapper {
    position: relative;
}

.person__image {
    max-height: 10ch;
    border-radius: .5rem;
}

.person__image_count {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-inline: .25rem;
    border-radius: 50% 0 0 0;
    background-color: lightgray;
}

.partner > .person {
    margin-inline: 0;
    translate: 0;
    --bg_opacity: .3;
}

.trunk:has(> .children) > .person {
    border-bottom: 1px solid;
}

body:has(#id_input_edit_mode:checked) {
    --edit_form_pointer_events: auto;
    --edit_form_field_border: 1px solid;
    --edit_form_buttons: block;
}

#id_form_edit_person:popover-open {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 1rem;
}

#id_form_edit_person::backdrop {
    backdrop-filter: blur(10px);
}

.edit_person__fields_wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 1rem;
    pointer-events: var(--edit_form_pointer_events, none);
}

.edit_person__field {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.edit_person__field :where(input, textarea) {
    border: var(--edit_form_field_border, none);
    border-radius: .5rem;
    padding-inline: .5rem
}

.edit_person__images {
    display: flex;
    padding-inline: 1rem;
}

.edit_person__image_wrapper {
    margin: auto;
}

.edit_person__image_wrapper:focus-within {
    --image_max_height: 70vh;
    --image_controls_display: block;
}

.edit_person__image {
    max-height: var(--image_max_height, 10ch);
    max-width: calc(100vw - 4rem);
    transition: max-height .2s;
}

.edit_person__button {
    display: var(--edit_form_buttons, none);
}

.edit_person__delete_image {
    display: var(
        --edit_form_buttons
        var(--image_controls_display, none)
    );
    margin-left: auto;
    background-color: lightpink;
}

.header_field {
    min-height: 2rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    padding-inline: .5rem;
    border: 1px solid;
    border-radius: .5rem;
}

.header_field:hover {
    box-shadow: 1px 1px teal;;
}

.--hide {
    display: none;
}

.--male {
    background-color: hsl(194.74deg 53.27% 79.02% / var(--bg_opacity, 1));
}

.--female {
    background-color: hsl(351 100% 86% / var(--bg_opacity, 1));
}

.--highlight {
    border: 5px solid red;
}
